$font-stack: Roboto, "Open Sans", "Helvetica Neue", sans-serif;

$color-1: #F8F9FA;
$color-2: #FFFFFF;
$color-3: #343642;

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Roboto-Regular.ttf);
}

body {
  font-family: $font-stack;
  padding: 0;
  margin: 0 auto;
  overflow: hidden;
  background: $color-3 center center;
  height: 100vh;

  a {
    text-decoration: none;
  }

  .c-header {
    background: $color-3;

    ul{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      li {
        list-style-type: none;
      }
    }

    a {
      display: block;
      height: 1em;
      line-height: 1em;
      padding: 0.4em 1em;
      margin: 0 0.5em;
      background: $color-3;
      border: 1px solid whitesmoke;
      border-radius: 5em;
      color: #FFF;
    }

  }


  .center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

}
